<div class="jumbotron">
  <h3>Twitter &amp; OAuth in Elixir</h3>
</div>

<div class="row">
  <div class="col-lg-6">
    <%= if @current_user do %>
      <p>Welcome, <strong><%= @current_user.name %></strong>!</p>
    <% else %>
      <p>You are not logged in.</p>
    <% end %>
  </div>
</div>
